TF_Content: >-
  #!/bin/sh

  terraform init

  TF_VAR_aws_access_key_id=${ROOST_AWS_ACCESS_KEY} TF_VAR_aws_secret_key_id=${ROOST_AWS_SECRET_KEY} 

  terraform apply --auto-approve --json
TF_Repo:
  id: ""
  key: terraform
  title: harishagrawal/terraform
  owner: harishagrawal
TF_Branch: main
TF_Git_path: /
lastUpdatedBy: harish
lastUpdatedOn: 2022-07-20T06:40:04.301Z
