TF_Content: >-
  #!/bin/sh


  TF_VAR_aws_access_key_id=valid_access_key TF_VAR_aws_secret_key_id=valid_secret_key terraform plan --auto-approve
TF_Repo:
  key: terraform
  title: mgdevstack/terraform
  owner: mgdevstack
  default_branch: main
  id: 515143211
TF_Branch: main
TF_Git_path: /
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2022-07-19T17:08:13.534Z
