TF_Content: >-
  #!/bin/sh


  terraform init


  TF_VAR_aws_access_key_id=valid_access_key TF_VAR_aws_secret_key_id=valid_secret_key terraform plan
TF_Repo:
  id: ""
  key: terraform
  title: mgdevstack/terraform
  owner: mgdevstack
TF_Branch: main
TF_Git_path: /
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2022-07-19T18:18:47.946Z
