TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: terraform
  title: harishagrawal/terraform
  owner: harishagrawal
  default_branch: main
  id: 515823343
TF_Branch: main
TF_Git_path: /
lastUpdatedBy: HARISH AGRAWAL
lastUpdatedOn: 2022-07-31T12:03:55.083Z
