TF_Content: |
  #!/bin/sh

  export TF_VAR_cluster_name=terraform-eks-cluster
  export TF_VAR_kubeconfig_path=${TF_VAR_KUBECONFIG}
  echo "TF_VAR_kubeconfig_path: ${TF_VAR_kubeconfig_path}"
  echo "TF_VAR_cluster_name: ${TF_VAR_cluster_name}"
  terraform init -upgrade
  terraform plan 

  echo "Refreshing states"
  terraform plan --refresh-only
  terraform apply --auto-approve
TF_Git_path: /
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-03-09T11:03:52.542Z
